{% extends 'static_appointment.html' %} {% block content %}
<title>List Appointment Grooming</title>
{% if request.session.Role == 'Dokter' %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #a8d3f1;">
    <a class="navbar-brand" href="/" style="color:#20a9f8;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;">SI<span class="navbar-brand" style="color:#F8241C;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;">RAD</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dokter
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/appointmentdokter/">List Appointment</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/profile/read-profile/{{ username }}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
{% elif request.session.Role == 'Customer' %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #a8d3f1;">
    <a class="navbar-brand" href="/" style="color:#20a9f8;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;">SI<span class="navbar-brand" style="color:#F8241C;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;">RAD</span>
    </a>
    <!-- <a class="navbar-brand" href="/">
        <div class="logo-image">
            <img src="SIRADLOGO.png" alt="img" style="max-width: 20px; max-height: 24px"></img>
        </div>
    </a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dokter
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/appointmentdokter/create-appointmentdokter">Create Appointment</a>
                    <a class="dropdown-item" href="/appointmentdokter/">List Appointment</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Grooming
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/appointmentgrooming/create-appointmentgrooming">Create Appointment</a>
                    <a class="dropdown-item" href="/appointmentgrooming/">List Appointment</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Event
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/event/">List Event</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Adopsi
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/adopsi/">List Adopsi</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/profile/read-profile/{{ username }}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
{% else %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #a8d3f1;">
    <a class="navbar-brand" href="/" style="color:#20a9f8;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;">SI<span class="navbar-brand" style="color:#F8241C;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;">RAD</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Users
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/user/add-user">Create User</a>
                    <a class="dropdown-item" href="/user/list-user">List User</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dokter
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/appointmentdokter/">List Appointment</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Grooming
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/user/list-produk">Layanan Master Data</a>
                    <a class="dropdown-item" href="/appointmentgrooming/">List Appointment</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Event
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/event/">List Event</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Adopsi
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/adopsi/">List Adopsi</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Statistik
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/statistik/statistik-dokter">Statistik Dokter</a>
                    <a class="dropdown-item" href="/statistik/statistik-grooming">Statistik Grooming</a>
                    <a class="dropdown-item" href="/statistik/statistik-event">Statistik Event</a>
                    <a class="dropdown-item" href="/statistik/statistik-adopsi">Statistik Adopsi</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/profile/read-profile/{{ username }}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
{% endif %}
<style>
    tr {
        background-color: rgb(255, 255, 255);
    }
    
    td {
        background-color: rgb(244, 249, 255);
    }
    
    .btn-light:hover {
        background-color: #90c6ff;
        /* Desired hover color */
    }
    
    .custom-table {
        background-color: #ebf2f5;
    }
</style>

<body style="background-color: rgb(255, 255, 255);">
    <br><br>
    <div class="container" style="
    position: absolute;
        padding: 16px 16px;
        left: 100px;

    ">
        <h2 style="color:#080808;font-family: 'Poppins', sans-serif;font-size: 36px;font-weight: 600;">List Appointment Dokter Milik Kamu</h2>
        {% if request.session.Role == 'Customer' %}
        <div class="d-grid d-md-flex justify-content-md-end">
            <a href="/appointmentdokter/create-appointmentdokter">
                <button type="button" class="btn btn-primary" style="font-family: 'Poppins', sans-serif;">+ Create Appointment Dokter</button>
            </a>
        </div>
        {% endif %}
        <br>
        <div class="text-center mb-4">
            <a class="btn btn-light" href="/appointmentdokter/">Semua</a>
            <a class="btn btn-light" href="/appointmentdokter/disetujui">Disetujui</a>
            <a class="btn btn-light" href="/appointmentdokter/konfirmasi">Menunggu Konfirmasi</a>
            <a class="btn btn-success" href="/appointmentdokter/ditolak">Ditolak</a>
            <br>
        </div>


        <br> {% if request.session.Role == 'Customer' %}
        <table id="bootstrapdatatable" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
                <tr class="table-light">
                    <th>No.</th>
                    <th>Nama Hewan</th>
                    <th>Dokter</th>
                    <th>Waktu Appointment</th>
                    <th>Status</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for appointment in listDitolakCustomer %}
                    <td>{{ forloop.counter }}.</td>
                    <td>{{ appointment.hewan.nama }}</td>
                    <td>{{ appointment.dokter.first_name }} {{ appointment.dokter.last_name }}</td>
                    <td>{{ appointment.appointment_time }}</td>
                    <td>
                        <p style="text-align: center; 
                        font-weight: bold; 
                        background-color:red; 
                        border: 1px solid red; 
                        padding: 3px; 
                        border-radius: 10px;">{{appointment.status}}</p>
                    </td>
                    <td>
                        <a href="/appointmentdokter/read-appointmentdokter/{{ appointment.appointment_id }}" class="btn btn-light border border-info border-2">Detail Appointment</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7 ">Belum ada appointment dokter hewan yang ditolak.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% elif request.session.Role == 'Dokter' %}
        <table id="bootstrapdatatable" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Kode Appointment</th>
                    <th>Nama Hewan</th>
                    <th>Nama Pemilik</th>
                    <th>Waktu Appointment</th>
                    <th>Status</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for appointment in listDitolakDokter %}
                    <td>{{ forloop.counter }}.</td>
                    <td>{{ appointment.appointment_id }}</td>
                    <td>{{ appointment.hewan.nama }}</td>
                    <td>{{ appointment.pemilik.first_name }} {{ appointment.pemilik.last_name }}</td>
                    <td>{{ appointment.appointment_time }}</td>
                    <td>
                        <p style="text-align: center; 
                        font-weight: bold; 
                        background-color:red; 
                        border: 1px solid red; 
                        padding: 3px; 
                        border-radius: 10px;">{{appointment.status}}</p>
                    </td>
                    <td>
                        <a href="/appointmentdokter/read-appointmentdokter/{{ appointment.appointment_id }}" class="btn btn-primary">Detail Appointment</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7 ">Belum ada appointment dokter hewan yang ditolak.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <table id="bootstrapdatatable" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Kode Appointment</th>
                    <th>Nama Hewan</th>
                    <th>Nama Pemilik</th>
                    <th>Waktu Appointment</th>
                    <th>Status</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for appointment in listDitolak %}
                    <td>{{ forloop.counter }}.</td>
                    <td>{{ appointment.appointment_id }}</td>
                    <td>{{ appointment.hewan.nama }}</td>
                    <td>{{ appointment.pemilik.first_name }} {{ appointment.pemilik.last_name }}</td>
                    <td>{{ appointment.appointment_time }}</td>
                    <td>
                        <p style="text-align: center; 
                        font-weight: bold; 
                        background-color:red; 
                        border: 1px solid red; 
                        padding: 3px; 
                        border-radius: 10px;">{{appointment.status}}</p>
                    </td>
                    <td>
                        <a href="/appointmentdokter/read-appointmentdokter/{{ appointment.appointment_id }}" class="btn btn-primary">Detail Appointment</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7 ">Belum ada appointment dokter hewan yang ditolak.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#bootstrapdatatable').DataTable({
                "aLengthMenu": [
                    [3, 5, 10, 25, -1],
                    [3, 5, 10, 25, "All"]
                ],
                "iDisplayLength": 3
            });
        });
    </script>



    </div>
</body>


{% endblock %}