{% extends 'static_appointment.html' %} {% block content %}
<title>Success Page</title>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>{{ success_message }}</h2>
                <br>
                <a class="btn btn-primary px-4" href="/appointmentdokter/">List Appointment Dokter</a> {% if apptdokter_id %}
                <a class="btn btn-primary px-4" href="/appointmentdokter/read-appointmentdokter/{{ apptdokter_id }}" style="background-color: orange; border-color: orange;">Lihat Detail {{ apptdokter_id }}</a> {% endif %}
            </div>
        </div>
    </div>
</div>


<script>
    setTimeout(function() {
        window.location.href = "/appointmentdokter/";
    }, 2000);
</script>
{% endblock %}