{% extends 'static_registration.html' %} {% block content %}
<br><br>
<main id="main">
    <section>
        <div class="container-fluid">
            <h1 style="color:#080808;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;" class="text-center">
                Registrasi Customer SIRAD
            </h1>
            <br>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header" style="color:#080808;
                font-family: 'Poppins', sans-serif;
                font-size: 20px; font-weight: bold;">
                            Form Registrasi
                        </div>
                        <div class="card-body">
                            <form class="customer" method="POST">
                                {% csrf_token %} {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.non_field_errors }}
                                </div>
                                {% endif %}
                                <div class="form-group">
                                    <div class="row mt-4">
                                        <label class="col-sm-4">Username:</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="{{ form.username.name }}" class="form-control" id="username" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row mt-4">
                                        <label class="col-sm-4">First Name:</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="{{ form.first_name.name }}" class="form-control" id="first_name" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row mt-4">
                                        <label class="col-sm-4">Last Name:</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="{{ form.last_name.name }}" class="form-control" id="last_name" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row mt-4">
                                        <label class="col-sm-4">Email:</label>
                                        <div class="col-sm-8">
                                            <input type="email" name="{{ form.email.name }}" class="form-control" id="email" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row mt-4">
                                        <label class="col-sm-4">Nomor Telepon:</label>
                                        <div class="col-sm-8">
                                            <input type="number" name="{{ form.no_telepon.name }}" class="form-control" id="no_telepon" required>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="{{ form.role.name }}" class="form-control" id="role" value="Customer" required>
                                <div class="form-group">
                                    <div class="row mt-4">
                                        <label class="col-sm-4">Password:</label>

                                        <div class="col-sm-8">
                                            <input type="password" name="{{ form.password.name }}" class="form-control" id="password" style="position:relative;" required>
                                            <span class="far fa-eye" id="togglePassword" style="position:absolute; right:30px;top:11px; cursor: pointer;"></span>
                                            <!-- </label> -->
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="{{ form.is_vip.name }}" class="form-control" id="is_vip" value="False" required>
                                <button class="btn btn-primary px-4" type="submit" style="font-family: 'Poppins', sans-serif;">Registrasi</button>
                                <br><br>
                                <div>
                                    Sudah punya akun? Login <a href="/login">di sini</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#password');

    togglePassword.addEventListener('click', function(e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });
</script>
{% endblock content %}