{% extends 'static.html' %}
{% block content %}
<title>Manajemen User</title>

<style>
    .containers {
        padding: 16px 16px;
        width: 300px;
        height: 300px;
      }
    .custom-table {
        background-color: #ebf2f5;
      }
</style>

<body style="background-color: rgb(255, 255, 255);">
<br>
<div class="container">
    <h2 style="color:#080808;font-family: 'Poppins', sans-serif;font-size: 36px;font-weight: 600;">Manajemen User Sirad</h2>

    <div class="d-grid d-md-flex justify-content-md-end">
        <a href="/user/add-user">
            <button type="button" class="btn btn-secondary" style="font-family: 'Poppins', sans-serif;">+ Create User</button>
        </a>
    </div>
    
        <br>
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#all">All User</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#admin">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#customer">Customer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#dokter">Dokter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#groomer">Groomer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#karyawan">Karyawan</a>
            </li>
          </ul>
          <br>
          <div class="tab-content">
            <div id="all" class="tab-pane fade show active">
                {% if user %}
                <div class="wrap">
                    
                    <table class="table table-bordered border-dark">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">No</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Username</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">First Name</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Last Name</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Role</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Email</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Phone Number</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in user %}
                            <tr>
                                <td style="font-family: 'Poppins', sans-serif; font-weight: bold;">{{ forloop.counter }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.username }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.first_name }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.last_name }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.role }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.email }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.no_telepon }}</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-info" style="font-family: 'Poppins', sans-serif;">Update</button>
                                    <a class="btn btn-danger" href="/user/delete-user/{{ user.id }}" onclick="return confirm('⚠️ Are you sure you want to PERMANENTLY DELETE this user?')">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
            <div id="admin" class="tab-pane fade">
                {% if user_admin %}
                <div class="wrap">
                    
                    <table class="table table-bordered border-dark">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">No</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Username</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">First Name</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Last Name</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Role</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Email</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Phone Number</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in user_admin %}
                            <tr>
                                <td style="font-family: 'Poppins', sans-serif; font-weight: bold;">{{ forloop.counter }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.username }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.first_name }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.last_name }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.role }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.email }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.no_telepon }}</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-info" style="font-family: 'Poppins', sans-serif;">Update</button>
                                    <a class="btn btn-danger" href="/user/delete-user/{{ user.id }}" onclick="return confirm('⚠️ Are you sure you want to PERMANENTLY DELETE this user?')">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
            <div id="customer" class="tab-pane fade">
                {% if user_customer %}
                <div class="wrap">
                    
                    <table class="table table-bordered border-dark">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">No</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Username</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">First Name</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Last Name</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Role</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Email</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Phone Number</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in user_customer %}
                            <tr>
                                <td style="font-family: 'Poppins', sans-serif; font-weight: bold;">{{ forloop.counter }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.username }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.first_name }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.last_name }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.role }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.email }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.no_telepon }}</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-info" style="font-family: 'Poppins', sans-serif;">Update</button>
                                    <a class="btn btn-danger" href="/user/delete-user/{{ user.id }}" onclick="return confirm('⚠️ Are you sure you want to PERMANENTLY DELETE this user?')">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
            <div id="dokter" class="tab-pane fade">
                {% if user_dokter %}
                <div class="wrap">
                    
                    <table class="table table-bordered border-dark">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">No</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Username</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">First Name</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Last Name</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Role</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Email</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Phone Number</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in user_dokter %}
                            <tr>
                                <td style="font-family: 'Poppins', sans-serif; font-weight: bold;">{{ forloop.counter }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.username }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.first_name }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.last_name }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.role }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.email }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.no_telepon }}</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-info" style="font-family: 'Poppins', sans-serif;">Update</button>
                                    <a class="btn btn-danger" href="/user/delete-user/{{ user.id }}" onclick="return confirm('⚠️ Are you sure you want to PERMANENTLY DELETE this user?')">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
            <div id="groomer" class="tab-pane fade">
                {% if user_groomer %}
                <div class="wrap">
                    
                    <table class="table table-bordered border-dark">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">No</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Username</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">First Name</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Last Name</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Role</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Email</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Phone Number</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in user_groomer %}
                            <tr>
                                <td style="font-family: 'Poppins', sans-serif; font-weight: bold;">{{ forloop.counter }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.username }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.first_name }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.last_name }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.role }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.email }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.no_telepon }}</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-info" style="font-family: 'Poppins', sans-serif;">Update</button>
                                    <a class="btn btn-danger" href="/user/delete-user/{{ user.id }}" onclick="return confirm('⚠️ Are you sure you want to PERMANENTLY DELETE this user?')">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
            <div id="karyawan" class="tab-pane fade">
                {% if user_karyawan %}
                <div class="wrap">
                    
                    <table class="table table-bordered border-dark">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">No</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Username</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">First Name</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Last Name</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Role</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Email</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;">Phone Number</th>
                                <th scope="col" style="font-family: 'Poppins', sans-serif;" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in user_karyawan %}
                            <tr>
                                <td style="font-family: 'Poppins', sans-serif; font-weight: bold;">{{ forloop.counter }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.username }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.first_name }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.last_name }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.role }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.email }}</td>
                                <td style="font-family: 'Poppins', sans-serif;">{{ user.no_telepon }}</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-info" style="font-family: 'Poppins', sans-serif;">Update</button>
                                    <a class="btn btn-danger" href="/user/delete-user/{{ user.id }}" onclick="return confirm('⚠️ Are you sure you want to PERMANENTLY DELETE this user?')">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
          </div>
          

    <!-- <table class="table table-bordered border-dark">
        <thead class="table-dark">
            <tr>
                <th scope="col" style="font-family: 'Poppins', sans-serif;">No</th>
                <th scope="col" style="font-family: 'Poppins', sans-serif;">Username</th>
                <th scope="col" style="font-family: 'Poppins', sans-serif;">First Name</th>
                <th scope="col" style="font-family: 'Poppins', sans-serif;">Last Name</th>
                <th scope="col" style="font-family: 'Poppins', sans-serif;">Role</th>
                <th scope="col" style="font-family: 'Poppins', sans-serif;">Email</th>
                <th scope="col" style="font-family: 'Poppins', sans-serif;">Phone Number</th>
                <th scope="col" style="font-family: 'Poppins', sans-serif;" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user %}
            <tr>
                <td style="font-family: 'Poppins', sans-serif; font-weight: bold;">{{ forloop.counter }}</td>
                <td style="font-family: 'Poppins', sans-serif;">{{ user.username }}</td>
                <td style="font-family: 'Poppins', sans-serif;">{{ user.first_name }}</td>
                <td style="font-family: 'Poppins', sans-serif;">{{ user.last_name }}</td>
                <td style="font-family: 'Poppins', sans-serif;">{{ user.role }}</td>
                <td style="font-family: 'Poppins', sans-serif;">{{ user.email }}</td>
                <td style="font-family: 'Poppins', sans-serif;">{{ user.no_telepon }}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-info" style="font-family: 'Poppins', sans-serif;">Update</button>
                    <a class="btn btn-danger" href="/user/delete-user/{{ user.id }}" onclick="return confirm('⚠️ Are you sure you want to PERMANENTLY DELETE this user?')">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
     -->
</div>
</body>


{% endblock %}
