{% extends 'static.html' %} {% block content %}
<div class="container">
    <!-- Outer Row -->
    <main id="main">
        <section>
            <div class="container-fluid text-center">
                <br>
                <h2 style="color:#20a9f8;
                font-family: 'Poppins', sans-serif;
                font-size: 48px;
                font-weight: 600;">SIRAD</h2>
                <br>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                VIP
                            </div>
                            <div class="card-body">
                                <form class="user" method="POST">
                                    {% csrf_token %} {% if form.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ form.non_field_errors }}
                                    </div>
                                    {% endif %}
                                    <div class="form-group">
                                        <div class="row mt-4">
                                            <label class="col-sm-4">Username:</label>
                                            <div class="col-sm-8">
                                                <input type="text" name="{{ form.username.name }}" class="form-control" id="username" placeholder="Username" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row mt-4">
                                            <label class="col-sm-4">Pilih Metode Pembayaran:</label>
                                            <div class="col-sm-8">
                                                <select id="" name="" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                                    <option selected>Pilih Metode Pembayaran</option>
                                                    <option value="#">Gopay</option>
                                                    <option value="#">OVO</option>
                                                    <option value="#">DANA</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-5 text-center">
                                        <label class="col-sm-4">Upload Bukti Pembayaran:</label>
                                        <div class="col-sm-8">
                                            <button class="btn btn-primary px-4" type="submit" value="Upload">Upload</button>
                                        </div>
                                    </div>
                                    <div class="mt-5 text-center">
                                        <button class="btn btn-primary px-4" type="submit" value="Bayar">Bayar</button>
                                    </div>
                                    <br>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
</section>
</main>
</div>
{% endblock content %}

                        <!-- <div class="form-group">
                            <div class="row mt-4">
                                <label class="col-sm-4">Pilih Metode Pembayaran:</label>
                                <div class="col-sm-8">
                                    <select id="" name="" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option selected>Pilih Metode Pembayaran</option>
                                        <option value="Admin">Gopay</option>
                                        <option value="Customer">OVO</option>
                                        <option value="Dokter">DANA</option>
                    
                                    </select>
                                    <!-- <input type="text" name="{{ form.role.name }}" class="form-control" id="role" required> -->
